footer {
    max-height: 400px;
    background-color: rgba(23, 24, 25, 1);
    color: rgb(255, 255, 255);
    font-size: 11px;
    letter-spacing: 0.85px;
    margin-top: -1px;
}

.footer__signup {
    max-height: 100px;
    height: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 25px;
}

.footer__signup input {
    margin-left: 70px;
    padding-left: 15px;
    width: 250px;
    height: 40px;
}

.footer__main {
    background-color: rgba(20, 26, 32, 1);
    max-height: 240px;
    height: 16.6vw;
    min-width: 400px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 240px;
    
}

.footer__main_block {
    margin: 0 5px;
}

.footer__main img {
    width: 100px;
}

.footer__main_headline {
    text-transform: uppercase;
}

.footer__company {
    max-width: 250px;
}

.footer__links {
    max-width: 262px;
    max-height: 150px;
    height: 10.5vw;
    width: 18vw;
    line-height: 25px;
}

.footer__links_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links-column {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.footer__contact {
    max-width: 141px;
    max-height: 158px;
    line-height: 16px;
}

.footer__socials {
    margin-top: 30px;
    width: 87px;
    height: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.footer__socials img {
    filter: grayscale(1) brightness(3);
    width: 12px;
    height: 12px;
}

.footer__copyright {
    max-height: 60px;
    min-height: 30px;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: 13px;
}